<div
    class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
    <div class="page-wrapper">


        <!-- start header -->

        <app-header></app-header>
        <!-- end header -->



        <!-- start sidebar menu -->

        <app-sidebar></app-sidebar>
        <!-- end sidebar menu -->
        <router-outlet></router-outlet>
        <!-- start footer -->
        <app-footer></app-footer>
        <!-- end footer -->
    </div>
</div>